<div class="popupForm none">
    <form class="popupFeedbackForm" action="feedback.html" name="feedbackForm" method="post" enctype="multipart/form-data">
        <b>Мы обязательно вам ответим!</b>
        <a class="closeIco" href="index.html"></a>
        <input class="inputText" id="nameInput" type="text" placeholder="Как вас зовут?">
        <span class="fakePlaceholder fakeName none">Как вас зовут?</span>
        <input class="inputText" id="emailInput" type="email" placeholder="Ваша почта для ответа?">
        <span class="fakePlaceholder fakeEmail none">Ваша почта для ответа?</span>
        <textarea class="inputArea inputText" id="feedbackInput" name="feedback" cols="51" rows="7" placeholder="Напишите что-нибудь..."></textarea>
        <span class="fakePlaceholder fakeFeedBack none">Напишите что-нибудь...</span>
        <button type="submit" class="btn btnPrimary btnMedium">Отправить</button>
    </form>
</div>
