
@{
    ViewBag.Title = "AboutCompany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>О Нас</h2>
<br/>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Maecenas aliquam ipsum ac dolor luctus imperdiet. Fusce vulputate, justo et egestas consequat,
    lorem augue suscipit elit, quis pharetra diam justo nec ex. Vivamus ut libero vel turpis laoreet accumsan
    quis a turpis. Donec semper in tortor tempor bibendum. Sed efficitur urna nec nisi iaculis, sit amet dictum
    leo rutrum. Fusce sit amet egestas leo. Quisque blandit nunc vel quam luctus finibus. Nam malesuada lectus non
    aliquet sodales. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec nec accumsan ex. Morbi
    velit lorem, tempus a risus sed, ultricies elementum diam. Aenean et ante libero. Aenean convallis, orci vitae
    ullamcorper tincidunt, eros massa pretium libero, scelerisque blandit augue mi at tortor. Proin feugiat, justo
    quis lobortis mollis, turpis dolor pretium lacus, ac ornare risus mi id lacus. Interdum et malesuada fames ac
    ante ipsum primis in faucibus.
</p>
<br/>
<p>
    Nulla non massa quam. Curabitur consequat mattis metus quis porta. Donec tristique arcu vel pulvinar eleifend.
    Donec tincidunt sapien in accumsan mollis. Nunc dapibus, neque ut porttitor suscipit, tortor magna suscipit
    nunc, in sagittis nibh mi vitae eros. Cras vitae auctor est, nec pharetra nisl. Suspendisse sagittis rhoncus
    mollis. Proin eget tincidunt eros, sit amet mollis nisi. In sed dolor fringilla, porta urna nec, fringilla arcu.
    Mauris eu gravida mauris. In hac habitasse platea dictumst. Phasellus fringilla enim commodo velit auctor
    ultrices. Donec sodales sagittis pellentesque. Integer non placerat ipsum. Donec commodo risus in arcu pulvinar,
     eget viverra est molestie.
</p>

